.login_box {
    display: grid;
    width: 400px;
    grid-template-rows: 100px 1fr;

    gap: 100px;
    text-align: center;
    margin: 2em auto;
}
.register_box {
    display: grid;
    width: 400px;
    grid-template-rows: 100px 1fr;
    margin: 0.8em auto;

    text-align: center;
    margin: 2em auto;
}

.subtitle_register {
    font-size: 1.8em;
    font-weight: bold;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.085); */
    margin-bottom: 1.5em;
}
.subtitle_login {
    font-size: 1.8em;
    font-weight: bold;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.085); */
    margin-bottom: 1.5em;
}

.form input[type="text"] {
    font-size: 0.9em;
    margin-top: 0.8em;
}

.form input[type="submit"] {
    background-color: #2ed573;
    color: #ffffff;
    opacity: 0.8;
}
.form input[type="submit"]:hover {
    opacity: 1;
}

.go_to_login {
    text-align: left;
    padding-left: 5px;
    font-size: 1.1em;
    padding-top: 2em;
}
/* * {
    border: 1px solid red;
} */

@media screen and (max-width: 778px) {
    .login_box {
        width: 90%;
    }
    .register_box {
        width: 90%;
    }
}
