.login_box {
    width: 90%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.form input[type="text"] {
    font-size: 1em;
    margin-top: 0.8em;
}

.form input[type="submit"] {
    background-color: #2ed573;
    color: #ffffff;
    opacity: 0.8;
}
.form input[type="submit"]:hover {
    opacity: 1;
}

.register_box {
    width: 90%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

/* * {
    border: 1px solid red;
} */
