/* * {
    border: 1px solid black;
} */

.nav {
    display: grid;

    grid-template-columns: 20% 411px 20%;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: space-between;
    gap: 0.4em;
    padding: 0.4em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
}

.nav_links a {
    font-size: 1.2em;
    display: flex;
    border: none;
}

.nav a {
    text-decoration: none;
    color: #272c30;
}

.nav_brand {
    padding-left: 40px;
    font-size: 1.8em;
}

.nav_search_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
}

.nav_search_form input {
    width: 90%;
    padding-left: 1.5em;
}
.nav_search_form {
    position: relative;
}
.nav_search_form input {
    font-size: 0.9em;
}
.nav_search_form svg {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.nav_links {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}
.nav_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 30px;

    width: 100%;
    gap: 20px;
}

.in_up {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.8em;
    justify-content: space-around;
    margin-right: 20px;
}

.nav_links button {
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    cursor: pointer;
}

.dropdown {
    display: none;
}

.dropdown_content {
    display: none;
}

@media screen and (max-width: 818px) {
    .nav {
        display: grid;

        grid-template-columns: 20% 55% 20%;
    }

    .nav_brand {
        padding-left: 15px;
    }
    .nav_icons a:nth-child(1) {
        display: none;
    }
    .in_up a:nth-last-child(-n + 3) {
        display: none;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.2em;
        padding-right: 30px;
    }

    .nav_search_form input {
        width: 100%;
        padding-left: 1em;
    }
    .nav_search_form {
        margin-left: 15px;
    }

    /*menu dropdown*/

    .dropdown {
        display: flex;
        flex-direction: row;

        align-items: center;
        margin-right: 50px;

        font-size: 1.3em;
    }

    .dropdown_content {
        display: block;
        position: absolute;
        width: 100%;

        left: 0;
        top: 110px;
    }

    .dropdown_itens {
        display: flex;
        color: #ffff;
        background-color: #575fcf;
        flex-direction: row;
        justify-content: space-around;
    }
    .dropdown_itens_login {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transition: all 1s;
    }
    .dropdown_itens a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 100px;
        font-size: 0.7em;
        color: #fff;
        height: 30px;
        width: 100%;
    }

    .dropdown_itens a:hover {
        background-color: #3a42b2;
        color: #fff;
        transition: 600ms;
    }
}
