/* * {
    border: 1px solid black;
} */

.nav {
    display: grid;

    grid-template-columns: 20% 411px 20%;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: space-between;
    gap: 0.4em;
    padding: 0.4em 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
}

.nav_links a {
    font-size: 1.2em;
    display: flex;
    border: none;
}

.nav a {
    text-decoration: none;
    color: #272c30;
}

.nav_brand {
    padding-left: 40px;
    font-size: 1.8em;
}

.nav_search_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
}

.nav_search_form input {
    width: 90%;
    padding-left: 1.5em;
}
.nav_search_form {
    position: relative;
}
.nav_search_form input {
    font-size: 0.9em;
}
.nav_search_form svg {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.2em;
    padding-left: 5px;
}

.nav_links button {
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    cursor: pointer;
}

.dropdown {
    display: none;
}

.dropdown_content {
    display: none;
}

@media screen and (max-width: 778px) {
    .nav {
        display: grid;
        z-index: 2;

        grid-template-columns: 20% 55% 20%;
        gap: 0;
    }

    .nav_brand {
        padding-left: 15px;
    }
    .nav_links > .nav_icons {
        display: none;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.2em;
        padding-left: 5px;
    }
    .nav_search_form input {
        width: 100%;
        padding-left: 1em;
    }
    .nav_search_form {
        margin-left: 15px;
    }

    /*menu dropdown*/

    .dropdown {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-right: 20px;
        font-size: 1.3em;
        border-radius: 25px;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    .dropdown_content {
        display: block;

        position: absolute;
        width: 100%;
        left: 0;
        top: 114px;
        padding: 10px;
        background-color: #575fcf;
    }

    .dropdown_itens {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .dropdown_itens a {
        color: #ffff;
        font-size: 0.8em;
    }
}
