.message {
    border-radius: 25px;
    margin: 0;
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-top: 25px;
    font-size: 0.9em;
}

.message.error {
    color: #eb1e1e;
    background-color: #fc16165c;
    border-color: #e0144a3e;
}

.message.success {
    color: #00425a;
    border: #00425a;
    background-color: #b5f1cc;
}
