.message {
    border-radius: 20px;
    margin: 0;
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-top: 25px;
}

.message.error {
    color: #eb1e1e;
    background-color: #fb25775c;
    border-color: #e0144ab9;
}

.message.success {
    color: #00425a;
    border: #00425a;
    background-color: #b5f1cc;
}
