.message {
    border-radius: 20px;
    margin: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.message.error {
    color: #b3005e;
    background-color: #fb257797;
    border-color: #e0144ab9;
}

.message.success {
    color: #00425a;
    border: #00425a;
    background-color: #b5f1cc;
}
