footer {
    color: #ffff;
    display: grid;
    grid-template-rows: 150px;
    align-items: center;
    justify-content: center;
    /* background-color: #232f34; */
    /* background-color: #8854d0; */
    background-color: #1e272e;
}
.name_copy {
    font-size: 1.2em;
}

.name_copy sup {
    font-size: 1.2em;
}
