body {
    font-family: "PT Serif", serif, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #ffff;
}

.active {
    font-weight: bold;
    /* color: #f9aa33; */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    background-color: #dfe4ea8d;
    border: none;
    padding: 0.8em 0.9em;
    border-radius: 255px;
    color: rgb(0, 0, 0);
    outline: none;
}
a {
    text-decoration: none;
}

input::placeholder {
    color: #7e7e7e;
    font-size: 1em;
}

.btn_primary,
input[type="submit"] {
    font-size: 1em;
    cursor: pointer;
    opacity: 0.9;
}

input:disabled {
    cursor: not-allowed;
    background-color: #fefeff;
    border: 0.5px solid rgba(0, 0, 0, 0.108);
}

input[type="submit"] {
    margin-top: 1em;
    font-size: 1.4em;
    padding: 0.4em 0;
}
input[type="email"] {
    font-size: 0.9em;
    margin-top: 0.8em;
}
input[type="password"] {
    font-size: 0.9em;
    margin-top: 0.8em;
}

button:hover,
input[type="submit"]:hover {
    opacity: 1;
}

.btn_secondary {
    background-color: transparent;
    color: #2f3542;
    outline-color: #2f3542;
    font-size: 1em;
    cursor: pointer;
}

.btn_cancel {
    background-color: #2f3542;
    color: #ffffff;
}

.hide {
    display: none;
}
